<div class="page">
  <div class="page-main">

    {{> header this }}

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="page-header">
          <h1 class="page-title">
            Add Node
          </h1>
        </div>

        {{#result.display}}
          {{#if result.save}}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button data-dismiss="alert" class="close"></button>
              Node added!
            </div>
          {{else}}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button data-dismiss="alert" class="close"></button>
              Error! Try again.
            </div>
          {{/if}}
        {{/result.display}}

        <form class="card" action="/admin/add-node" method="POST">
          <div class="card-body">
            <h3 class="card-title">Insert node information</h3>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="form-group">
                  <label class="form-label">Code</label>
                  <input type="text" class="form-control" required name="code" placeholder="The node identifier">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="form-group">
                  <label class="form-label">Beacon</label>
                  <input type="text" class="form-control" required name="beacon" placeholder="The beacon MAC address">
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="form-label mb-3">Secure place</label>
                  <label class="custom-switch">
                    <input type="checkbox" name="secure" class="custom-switch-input">
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">Switch on for secure place</span>
                  </label>
                </div>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="form-group">
                  <label class="form-label">X</label>
                  <input type="text" class="form-control" required name="x" placeholder="X coordinate">
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group">
                  <label class="form-label">Y</label>
                  <input type="text" class="form-control" required name="y" placeholder="Y coordinate">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label">Altitude</label>
                  <input type="text" class="form-control" required name="altitude" placeholder="The altitude of node">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label">Width</label>
                  <input type="text" class="form-control" required name="width" placeholder="Width of node">
                </div>
              </div>
            </div><!-- /row -->
          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-azure">Save new node</button>
          </div>
        </form>

      </div>
    </div><!-- /margin -->
  </div><!-- /page-main -->

  {{> footer }}

</div><!-- /page -->