<div class="page">
  <div class="page-main">

    {{> header this }}

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="page-header">
          <h1 class="page-title">
            Add Node
          </h1>
        </div>

        Lorem Ipsum

      </div>
    </div><!-- /margin -->
  </div><!-- /page-main -->

  {{> footer }}

</div><!-- /page -->